.App {
  text-align: center;
  border: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  /* border: dotted; */
  width: 90%;
  /* height: 1000px; */
  padding: 20px;
  margin-top: 120px;
  /* border: dotted; */
  
}
.container2 {
  width: 100%;
  /* height: 1000px; */
  padding: 20px;
  margin-top: 75px;
  /* text-align: center; */
}

.color {
  background-color: rgba(80, 76, 69, 0.966);
}

.gallery {
  padding: 10px;
  text-align: center;
  background-color: rgba(80, 76, 69, 0.966);
  height: 100%;
  /* border: solid; */
}

.gallery2 {
  padding: 10px;
  text-align: center;
  background-color: rgba(80, 76, 69, 0.966);
  height: 740px;
  /* border: solid; */
}

@media screen and (max-width: 480px) { 
  /* CSS Code for when the screen size is 480px Screen size */

}

.home2 {
  /* padding: 10px; */
  text-align: center;
  background-color: rgba(80, 76, 69, 0.966);
  height: 1000px;
  border: none;
  width: 100%;
}

.containerEclatGallery {
  border-top: ridge;
  padding-top: 15px;
  width: 100%;
  column-count: 4;
}

.containerEclatAbout {
  border-top: ridge;
  padding-top: 15px;
  width: 100%;
  
  font-size: 25px;
}

.containerEclatContact {
  border-top: ridge;
  padding-top: 15px;
  width: 100%;
}

.aboutInfoEclat {
  /* border: ridge; */
  background-color: whitesmoke;
  margin-top: 20px;
  padding: 25px;
  box-shadow: .5px 1.5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}

@media screen and (max-width: 720px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .aboutInfoEclat {
    /* width: 20px; */
    font-size: 15px;
  }
}

.mottoSize {
  font-size: 50px;
}

@media screen and (max-width: 720px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .mottoSize {
    /* width: 20px; */
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .mottoSize {
    /* width: 20px; */
    font-size: 20px;
  }
}

.aboutInfoEclatForm {
  /* border: ridge; */
  background-color: whitesmoke;
  margin-top: 20px;
  padding: 10px;
  box-shadow: .5px 1.5px;
  /* text-align: left; */
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.pictureCardEclat {
  margin-bottom: 10px;
  box-shadow: .5px 1.5px;
  height: 220px;
  width: 95%;
}

@media screen and (max-width: 1100px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .pictureCardEclat {
    height: 150px;
  }
}

@media screen and (max-width: 720px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .pictureCardEclat {
    height: 100px;
  }
}

@media screen and (max-width: 480px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .pictureCardEclat {
    height: 60px;
  }
}

.home {
  border: dotted;
  width: 100%;
  height: 1000px;
}

.carouselHome {
  height: 500px;
  width: 100%;
  /* margin-left: 50%; */
}

@media screen and (max-width: 720px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .carouselHome {
   height: 50px;
  }
}

.carouselPictures {
  /* display: block; */
  /* position: static; */
  /* margin-bottom: -300px;
  margin-top: -300px; */
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 600px;
}

@media screen and (max-width: 720px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .carouselPictures {
   max-height: 400px;
   max-width: 500px;
  }
}

.Elogo {
  float: left;
  padding: 5px;
}

.ElogoAdmin {
  float: left;
  padding: 5px;
  margin-top: 30px;
}

.logoImg {
  margin-left: 50px;
  margin-top: 5px;
  height: 80px;
  width: 110px;
}

@media screen and (max-width: 720px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .logoImg {
    margin-left: 10px;
    
  }
}

@media screen and (max-width: 480px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .logoImg {
    margin-left: 5px;
    height: 40px;
    width: 55px;
  }
}


.header {
  width: 100%;
  height: 100px;
  /* border: dotted; */
  box-shadow: 3px 3px;
  /* background-color: #001f3f; */
  background-color: white;
  color: grey;
  position: fixed;
}

.navLinks {
  float: right;
  /* column-count: 4; */
  /* border: double; */
  padding: 5px;
  height: 100%;
  width: 70%;
  
}

@media screen and (max-width: 720px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .navLinks {
   padding: 1px;
   float: left;
  }
}

.headerButtons {
  width: 23%;
  padding: 10px;
  margin-top: 15px;
  /* padding-top: 20px; */
  /* background-color: #001f3f; */
  background-color: white;
  text-align: center;
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  border: none;
  border-left: ridge;
}

@media screen and (max-width: 1100px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .headerButtons {
    /* width: 20px; */
    font-size: 15px;
  }
}

@media screen and (max-width: 720px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .headerButtons {
    /* width: 20px; */
    font-size: 10px;
    border-left: none;
  }
}





/* ADMINISTRATOR ===================================================================== */


.headerAdmin {
  width: 100%;
  height: 100px;
  /* border: dotted; */
  box-shadow: 3px 3px;
  background-color: whitesmoke;
  position: fixed;
  margin-top: -150px;
}

.login {
  padding: 200px;
}

.navLinksAdmin {
  float: right;
  /* column-count: 4; */
  /* border: double; */
  padding: 5px;
  height: 100%;
  width: 60%;
  
}

.headerButtonsAdmin {
  width: 15%;
  padding: 10px;
  margin-top: 30px;
  /* padding-top: 20px; */
  
  /* border: solid; */
  text-align: center;
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  border: none;
  border-right: ridge;
  border-left: ridge;
}

.pictureCard {
  break-inside: avoid-column;
  margin: 5px;
  padding: 5px;
  box-shadow: .5px 1.5px;
  padding-bottom: 50px;
  height: 220px;
}

.left {
  float: left;
  padding: 5px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  box-shadow: .1px .5px;
  overflow: hidden;
}


.imageProjectSmall {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-height: 300px;
  box-shadow: .1px .5px;
 
}

.imageProjectSmall2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 92px;
  max-height: 300px;
  box-shadow: .1px .5px;
 
}

@media screen and (max-width: 720px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .imageProjectSmall2 {
    /* width: 20px; */
    height: 50px;
  }
}

@media screen and (max-width: 480px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .imageProjectSmall2 {
    /* width: 20px; */
    height: 35px;
  }
}

.address {
  font-size: 40px;
}

@media screen and (max-width: 1200px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .address {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .address {
    font-size: 20px;
  }
}
/* .image:hover {
  height: 225px;
  width: 255px;
} */

.containerAdmin {
  /* border: dotted; */
  width: 95%;
  /* height: 1000px; */
  padding: 20px;
  /* column-count: 5; */
}

.galleryContainer {
  margin-top: 20px;
  border-top: ridge;
  padding-top: 20px;
}

.photosContainer {
  column-count: 4;
  padding-top: 5px;
  padding-bottom: 1px;
  background-color: whitesmoke;
}

.formGallery {
  padding: 5px;
  width: 25%;
  float: left;
  border-right: double;
  height: 90%;
  text-align: left;
}

.aboutForm {
  text-align: left;
  margin-top: 20px;
  border-bottom: ridge;
  padding-bottom: 20px;
}

.aboutInfo {
  /* border: ridge; */
  background-color: whitesmoke;
  margin-top: 20px;
  padding: 10px;
  box-shadow: .5px 1.5px;
}

.newProjectForm {
  text-align: left;
  margin-top: 20px;
}

.projects {
  border-top: ridge;
  margin-top: 20px;
}

.projectDiv {
  background-color: whitesmoke;
  box-shadow: .5px 1.5px;
  margin-top: 20px;
  padding: 20px;
  /* column-count: 2; */
}

.projectDivEclat {
  /* background-color: rgba(80, 76, 69, 0.966); */
  box-shadow: 0px 1.5px;
  margin-top: 20px;
  padding: 20px;
  color: whitesmoke;
  /* column-count: 2; */
}

.projectInfoDiv {
  column-count: 2;
  height: 150px;
}


.projectInfoDivEclat {
  /* column-count: 2; */
  height: 200px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-align: left;
  font-size: 25px;
}

@media screen and (max-width: 720px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .projectInfoDivEclat {
    /* width: 20px; */
    font-size: 15px;
  }
}

.projectDelete {
  float: right;
  margin-right: 5px;
}

.projectAvatar {
  width: 20%;
  float: left;
  margin-right: 20px;
  box-shadow: .1px .3px;
}

.projectAvatarEclat {
  width: 37%;
  float: left;
  margin-right: 20px;
  box-shadow: .1px .3px;
  max-height: 300px;

}

.projectPicturesDiv {
  column-count: 5;
  height: 100px;
  border: ridge;
}

.projectPicturesDivEclat {
  column-count: 5;
  height: 100px;
  border: none;
}

@media screen and (max-width: 720px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .projectPicturesDivEclat {
    /* width: 20px; */
    height: 50px;
  }
}

.buttonMargin {
  margin-left: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 500px;
}

.centerEclat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 700px;
  max-width: 1000px;
}

@media screen and (max-width: 720px) { 
  /* CSS Code for when the screen size is 480px Screen size */
  .centerEclat {
   max-height: 300px;
  }
}

.homeLogoAdmin {
  max-height: 500px;
}


.logoDivHome {
  margin-top: 100px;
}

.footer {
  color: white;
  width: 100%;
  background-color: rgb(31, 29, 29);
  height: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.instagramLogo {
  height: 70px;
  width: 70px;
}




